[printer]
kinematics: hybrid_corexy
max_velocity: 300
max_accel: 1000
max_z_velocity: 10
max_z_accel: 100

[stepper_y] #Left Y
step_pin: PB13
dir_pin: PB12
enable_pin: !PB14
microsteps: 16
full_steps_per_rotation:200
rotation_distance: 40
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_endstop: 251
position_max: 251
position_min:-2
homing_speed: 20
homing_retract_dist: 0

[tmc2209 stepper_y] #Left y
uart_pin: PC11
tx_pin: PC10
uart_address: 0
run_current: 0.7
current_change_dwell_time: 0.2
home_current: 0.5
diag_pin: ^PC0
sense_resistor: 0.11
stealthchop_threshold: 0
driver_SGTHRS: 60 # 255 is the most senitive value, 0 is the least sensitive 

[stepper_y1] #Right Y
step_pin: PB10
dir_pin: PB2
enable_pin: !PB11
microsteps: 16
full_steps_per_rotation:200
rotation_distance: 40
endstop_pin: tmc2209_stepper_y1:virtual_endstop

[tmc2209 stepper_y1] #Right Y
uart_pin: PC11
tx_pin: PC10
uart_address: 2
run_current: 0.7
current_change_dwell_time: 0.2
home_current: 0.5
diag_pin: ^PC1
sense_resistor: 0.11
stealthchop_threshold: 0
driver_SGTHRS: 60 # 255 is the most senitive value, 0 is the least sensitive 

[stepper_x] #Back X
step_pin: PB0
dir_pin: PC5
enable_pin: !PB1
microsteps: 16
full_steps_per_rotation:200
rotation_distance: 40
#endstop_pin: tmc2209_stepper_x:virtual_endstop
position_endstop: 262
position_min: -20
position_max: 262
homing_speed: 20
homing_retract_dist: 5

[tmc2209 stepper_x] #Back X
uart_pin: PC11
tx_pin: PC10
uart_address: 1
run_current: 0.5
current_change_dwell_time: 0.2
home_current: 0.3
#diag_pin: ^PC2
sense_resistor: 0.11
stealthchop_threshold: 0
#driver_SGTHRS: 20 # 255 is the most senitive value, 0 is the least sensitive

[stepper_x1] #Front X
step_pin: PB3
dir_pin: !PB4
enable_pin: !PD1
microsteps: 16
full_steps_per_rotation:200
rotation_distance: 40
endstop_pin: tmc2209_stepper_x1:virtual_endstop

[tmc2209 stepper_x1] # Front X
uart_pin: PC11
tx_pin: PC10
uart_address: 3
run_current: 0.5
current_change_dwell_time: 0.2
home_current: 0.2  #0.5
diag_pin: ^PC15
sense_resistor: 0.11
stealthchop_threshold: 0
driver_SGTHRS: 25 # 255 is the most senitive value, 0 is the least sensitive

[stepper_z] # Back Z
step_pin: V2:PB9
dir_pin: V2:PC2
enable_pin: !V2:PC3
microsteps: 16
rotation_distance: 4
endstop_pin: probe:z_virtual_endstop
position_max: 300
homing_speed: 5

[stepper_z1] # Right Z
step_pin: V2:PB7
dir_pin: !V2:PB8
enable_pin: !V2:PC3
microsteps: 16
rotation_distance: 8

[stepper_z2] # Left Z
step_pin: V2:PB5
dir_pin: !V2:PB6
enable_pin: !V2:PC3
microsteps: 16
rotation_distance: 8