#[probe]
#pin: ^V2:PA7
#x_offset: 0.0
#y_offset: 0.0
#z_offset:10
#speed: 5.0
#samples: 2
#sample_retract_dist: 2.0
#lift_speed: 5
#samples_result: average
#samples_tolerance: 0.100

[dockable_probe]
pin: ^V2:PA7
z_offset: 30
sample_retract_dist: 10
approach_position: 28,170 #60,220
dock_position: 28,220
extract_position: 60,220
detach_position: 28,170
check_open_attach: true
attach_speed: 30
detach_speed: 30
travel_speed: 30

[safe_z_home]
home_xy_position: 125,125
z_hop: 10