#[probe]
#pin: ^V2:PA7

#z_offset:10
#speed: 5.0
#samples: 2
#sample_retract_dist: 2.0
#lift_speed: 5
#samples_result: average
#samples_tolerance: 0.100

[dockable_probe]
pin: ^V2:PA7
x_offset: -16
y_offset: 15
z_offset: 30
sample_retract_dist: 10
approach_position: 9,205
dock_position: 9,235
extract_position: 39,235
detach_position: 9,205
check_open_attach: true
attach_speed: 50
detach_speed: 50
travel_speed: 50