[homing_override]
axes: xyz
set_position_x: 0
set_position_y: 0
set_position_z: 0
gcode:
    G90                    ; Absolute positioning
    
    G91
    #Move z down
    G1 Z40 F3000
    G90
    #Home Y
    G28 Y
    #Home X
    G28 X
    #Move to middle of bed
    G1 X117.5 Y117.5
    #Home Z
    G28 Z