[homing_override]
axes: xyz
set_position_x: 0
set_position_y: 0
set_position_z: 0
gcode:
    G90                    ; Absolute positioning

    # Lift Z for safety
    G91
    G1 Z40 F3000
    G90

    # Home Y og flyt
    G28 Y
    G1 Y125 F6000

    # Home X og flyt
    G28 X
    G1 X125 F6000

    # Home Z til sidst
#    G28 Z